.main-content {
    margin-left: 260px;
    padding: 110px 30px 30px 30px;
    transition: all .3s ease;
    min-height: 100vh;
    background: #f6f8fc;
}

/* Contenido cuando sidebar está colapsado */
.main-content.expanded {
    margin-left: 80px;
}

/* Responsive */
@media (max-width:768px){
    .main-content{
        margin-left:80px;
        padding:100px 15px 20px 15px;
    }
}