{% extends "base.html" %}

{% block title %}Carga de archivo{% endblock %}

{% block page_title %}
Carga de archivo CSV
{% endblock %}

{% block content %}



<div class="page-header">

    <div>
        <h2>Carga un archivo</h2>
        <p>
            Suba un archivo CSV que contenga registros históricos de consumo eléctrico.
        </p>
        <p>
            El sistema procesará automáticamente la información y aplicará un modelo XGBoost 
            previamente entrenado para detectar posibles casos de hurto de energía.
        </p>
    </div>

</div>

<div class="page-card">

    <div class="upload-instructions">

        <h3>Instrucciones de carga</h3>

        <ul>
            <li>
                Asegúrese de que el archivo esté en formato CSV.
            </li>
            <li>
                El archivo debe contener los campos requeridos para el análisis.
            </li>
            <li>
                Puede descargar una plantilla CSV para asegurarse de que su archivo cumpla con el formato esperado.
            </li>
        </ul>

    </div>

    <div class="template-section">

        <a href="/static/plantillas/plantilla_consumo.csv" download class="btn-template">
            <i class="fa-solid fa-download"></i>
            Descargar plantilla CSV
        </a>

    </div>

    {% if error %}
    <div id="server-error" class="error-message">
        {{ error }}
    </div>
    {% endif %}

    <form method="POST" enctype="multipart/form-data" id="upload-form">

        <label for="archivo" class="upload-area">

            <div class="upload-icon">
                <i class="fa-solid fa-cloud-arrow-up"></i>
            </div>

            <div class="upload-title">
                Arrastre o seleccione un archivo
            </div>

            <div class="upload-subtitle">
                Formato permitido:
                <span>CSV</span>
            </div>

        </label>

        <input type="file" id="archivo" name="archivo" accept=".csv" required>

        <div id="selected-file" class="selected-file"></div>

        <button
            type="submit"
            id="btnProcesar"
            class="btn-process"
            disabled>

            Procesar archivo

        </button>

    </form>

</div>



<!-- SPINNER -->

<div id="loading" class="loading-overlay">

    <div class="spinner"></div>

    <p>
        Procesando archivo...
    </p>

</div>

{% endblock %}

{% block extra_js %}
<script src="/static/js/cargar_archivo.js"></script>
{% endblock %}