{% extends "base.html" %}

{% block title %}
Actualización del modelo
{% endblock %}

{% block page_title %}
Actualización del modelo
{% endblock %}

{% block content %}

<div class="page-card">

    <div class="page-header">
        <h2>
            Actualización del modelo predictivo
        </h2>
    </div>

    <p class="page-description">

        Este módulo permite generar un dataset histórico validado a partir de las alertas revisadas y actualizar el modelo predictivo.

    </p>

</div>

{% endblock %}